In [23]:
import os
import sys

def adding_module_path():
    module_path = os.path.abspath(os.path.sep.join([".."]*2))

    if module_path not in sys.path:
        sys.path.append(module_path)

adding_module_path()

In [24]:
from points.methods import get_n_gram_table, translate, translate_with, blank_text, chi, chi_calc, find_min, find_not_decrypted
import pandas as pd
from collections import Counter

In [25]:
cipher = "OJRGEQKTRNDEVPDOAGRKTLPKUEJNETPVJNEUOJNEJRUVJAKAGQVWRGENPOQLQBOEQKTHVLVJEQEWKKCNSRLPOJRQRGEVDFKJCIDKQQKFQAJVPDECRPEEQVJCOPOQEQRGVRCKRRECRGETPEJNGDVJCQNVLEPEFOJCECGOFKTJVRSPEQNEJEQLVOJRECOJBYKRKVJCOJRGEDKNVDQWGKCPVJBOJNVTEQKTVPDEQGEQVWPEQKJVJNEQWORGRGEAEOQGVQVJCBVISBOVNRKPQKTVNKSJRPYGECJEUEPUOQORECVRTOPQRUVJAKAGQOFLDYNKLOECRGEWKPBQOJIKRGQBERNGEQVJCKODLVOJROJAQIYRGEROFERGEVPROQRFKUECRKVPDEQGEWVQTSDDYOJRGERGPVDDKTHVLVJKJRGERPVOJTPKFLVPOQGEPELEVRECDYNGENBECKSRRGEWOJCKWGEWPKRERKGOQTPOEJCLVSDAVSASOJRKQEEOTORWVQDOBEHVLVJYER!NGODCOQGOQJRORRGEOFLVNRWVQFKPEQSIRDEFKPEISPOECOJGOQRENGJOMSETKPOJQRVJNEGEQKFEROFEQCOUOCECRGENVJUVQSQOJACOVAKJVDDOJEQPVRGEPRGVJSQOJAGKPOZKJRVDLEPQLENROUELDVJEQVQWVQRGEJKPFOJWEQREPJLVOJROJAVJCGEWKSDCQRPEVBGOQLVOJROJAQWORGCOVAKJVDPVOJVQGEGVCQEEJOJHVLVJEQELPOJRQ"

In [26]:
df = get_n_gram_table(cipher, 3)
df

30 571

          Current          Ref
0    (RGE, 2.057)  (THE, 1.81)
1    (OJR, 1.285)  (AND, 0.73)
2    (VJC, 0.771)  (ING, 0.72)
3    (VOJ, 0.771)  (ENT, 0.42)
4    (EQK, 0.643)  (ION, 0.42)
..            ...          ...
566  (JOJ, 0.129)       (-, 0)
567  (OJH, 0.129)       (-, 0)
568  (JHV, 0.129)       (-, 0)
569  (QEL, 0.129)       (-, 0)
570  (ELP, 0.129)       (-, 0)

[571 rows x 2 columns]

In [27]:
df = get_n_gram_table(cipher, 2)
df.iloc[0:20, :]

30 250

        Current         Ref
0   (OJ, 3.594)  (TH, 2.71)
1   (GE, 3.338)  (HE, 2.33)
2   (RG, 2.824)  (IN, 2.03)
3   (EQ, 2.696)  (ER, 1.78)
4   (VJ, 2.439)  (AN, 1.61)
5   (JR, 1.926)  (RE, 1.41)
6    (EC, 1.54)  (ES, 1.32)
7   (OQ, 1.412)  (ON, 1.32)
8   (LV, 1.412)  (ST, 1.25)
9   (JC, 1.284)  (NT, 1.17)
10  (PO, 1.155)  (EN, 1.13)
11  (QR, 1.155)  (AT, 1.12)
12  (PE, 1.155)  (ED, 1.08)
13  (CO, 1.027)  (ND, 1.07)
14  (VQ, 1.027)  (TO, 1.07)
15  (ER, 1.027)  (OR, 1.06)
16  (RO, 1.027)   (EA, 1.0)
17  (QK, 0.899)  (TI, 0.99)
18  (KT, 0.899)  (AR, 0.98)
19  (EJ, 0.899)  (TE, 0.98)

In [28]:
df = get_n_gram_table(cipher, 1)
df

26 26

        Current        Ref
0   (E, 11.795)  (E, 12.1)
1    (O, 8.718)  (T, 8.94)
2    (V, 8.718)  (A, 8.55)
3     (J, 8.59)  (O, 7.47)
4     (R, 8.59)  (I, 7.33)
5    (Q, 7.949)  (N, 7.17)
6    (G, 6.026)  (S, 6.73)
7    (K, 5.897)  (R, 6.33)
8    (P, 5.256)  (H, 4.96)
9    (C, 4.103)  (L, 4.21)
10   (D, 3.462)  (D, 3.87)
11   (N, 3.077)  (C, 3.16)
12   (L, 2.821)  (U, 2.68)
13   (T, 2.051)  (M, 2.53)
14   (A, 2.051)  (F, 2.18)
15   (W, 2.051)  (G, 2.09)
16   (S, 1.923)  (P, 2.07)
17   (F, 1.795)  (W, 1.83)
18   (U, 1.282)  (Y, 1.72)
19   (B, 1.282)   (B, 1.6)
20   (Y, 0.897)  (V, 1.06)
21   (I, 0.769)  (K, 0.81)
22   (H, 0.513)  (J, 0.22)
23   (!, 0.128)  (X, 0.19)
24   (M, 0.128)  (Z, 0.11)
25   (Z, 0.128)   (Q, 0.1)

In [29]:
key = {
    #prvni substituce
    "R": "T",
    "G": "H",
    "E": "E",
    "O": "I",
    "J": "N",
    "V": "A",
    #tree?
    "P": "R",
    #test chi
    "Q": 'S',
    "N": "C",
    "G": "H",
    "O": "I",
    "M": "Q",
    "S": "U",
    #TE_HNI__E, R E N G J O M S E T ... T E C H N I Q U E
    #C_EAR  NDEVP,
    "D": "L",
    #LI_HT__ LIGHT?
    "A": "G",
    #_RINTS .. PRINTS? LPOJRQ
    "L": "P",
    #_APANESEPRINTS .. JAPANESE?
    #HVLVJEQELPOJRQ
    "H": "J",
    #WORGCOVAKJVD
    #_ITH_IAG_NAL 
    "W": "W",
    "C": "D",
    "K": "O",
    #OJRGEQKTR
    #INTHESO_T,
    "T": "F",
    #OJRGEQKTRNDEVPDOAGRKTLPKUEJNE
    #INTHESOFTCLEARLIGHTOFPRO_ENCE
    "U": "V",
    #GEWVQTSDDY
    #HEWASFULL_,
    "Y": "Y",
    #RPVOJTPKFLVPOQ
    #TRAINFRO_PARIS
    "F": "M",
    #RRGEOFLVNRWVQFKPEQSIRDEFKPEISPOEC
    #TTHEIMPACTWASMORESU_TLEMORE_URIED
    "I": "L",
    #GKPOZKJRVD
    #HORI_ONTAL
    "Z": "Z",
    #WKSDCQRPEVBGOQLVOJROJAQWORGCOVAKJVDPVOJVQGEGVCQEEJOJHVLVJEQELPOJRQ
    #WOULDSTREA_HISPAINTINGSWITHDIAGONALRAINASHEHADSEENINJAPANESEPRINTS
    "B": "K",
    #IFITWASLIKEJAPANYET_CHILDISHISNTI
    #OTORWVQDOBEHVLVJYER!NGODCOQGOQJRO
}

In [41]:
sorted_items = sorted(key.items(), key=lambda x: x[1])

[('V', 'A'),
 ('N', 'C'),
 ('C', 'D'),
 ('E', 'E'),
 ('T', 'F'),
 ('A', 'G'),
 ('G', 'H'),
 ('O', 'I'),
 ('H', 'J'),
 ('B', 'K'),
 ('D', 'L'),
 ('I', 'L'),
 ('F', 'M'),
 ('J', 'N'),
 ('K', 'O'),
 ('L', 'P'),
 ('M', 'Q'),
 ('P', 'R'),
 ('Q', 'S'),
 ('R', 'T'),
 ('S', 'U'),
 ('U', 'V'),
 ('W', 'W'),
 ('Y', 'Y'),
 ('Z', 'Z')]

In [42]:
key, alphabet = zip(*sorted_items)

In [44]:
"".join(key)

'VNCETAGOHBDIFJKLMPQRSUWYZ'

In [38]:
print(f"from {list(key.keys())}")
print(f"to {list(key.values())}")

from ['R', 'G', 'E', 'O', 'J', 'V', 'P', 'Q', 'N', 'M', 'S', 'D', 'A', 'L', 'H', 'W', 'C', 'K', 'T', 'U', 'Y', 'F', 'I', 'Z', 'B']
to ['T', 'H', 'E', 'I', 'N', 'A', 'R', 'S', 'C', 'Q', 'U', 'L', 'G', 'P', 'J', 'W', 'D', 'O', 'F', 'V', 'Y', 'M', 'L', 'Z', 'K']

In [30]:
first = blank_text(cipher, key)

In [31]:
first

'INTHESOFTCLEARLIGHTOFPROVENCEFRANCEVINCENTVANGOGHSAWTHECRISPSKIESOFJAPANESEWOODCUTPRINTSTHEALMONDLLOSSOMSGNARLEDTREESANDIRISESTHATDOTTEDTHEFRENCHLANDSCAPEREMINDEDHIMOFNATURESCENESPAINTEDINKYOTOANDINTHELOCALSWHODRANKINCAFESOFARLESHESAWRESONANCESWITHTHEGEISHASANDKALUKIACTORSOFACOUNTRYHEDNEVERVISITEDATFIRSTVANGOGHSIMPLYCOPIEDTHEWORKSINLOTHSKETCHESANDOILPAINTINGSLYTHETIMETHEARTISTMOVEDTOARLESHEWASFULLYINTHETHRALLOFJAPANONTHETRAINFROMPARISHEREPEATEDLYCHECKEDOUTTHEWINDOWHEWROTETOHISFRIENDPAULGAUGUINTOSEEIFITWASLIKEJAPANYET_CHILDISHISNTITTHEIMPACTWASMORESULTLEMORELURIEDINHISTECHNIQUEFORINSTANCEHESOMETIMESDIVIDEDTHECANVASUSINGDIAGONALLINESRATHERTHANUSINGHORIZONTALPERSPECTIVEPLANESASWASTHENORMINWESTERNPAINTINGANDHEWOULDSTREAKHISPAINTINGSWITHDIAGONALRAINASHEHADSEENINJAPANESEPRINTS'

In [32]:
cipher

'OJRGEQKTRNDEVPDOAGRKTLPKUEJNETPVJNEUOJNEJRUVJAKAGQVWRGENPOQLQBOEQKTHVLVJEQEWKKCNSRLPOJRQRGEVDFKJCIDKQQKFQAJVPDECRPEEQVJCOPOQEQRGVRCKRRECRGETPEJNGDVJCQNVLEPEFOJCECGOFKTJVRSPEQNEJEQLVOJRECOJBYKRKVJCOJRGEDKNVDQWGKCPVJBOJNVTEQKTVPDEQGEQVWPEQKJVJNEQWORGRGEAEOQGVQVJCBVISBOVNRKPQKTVNKSJRPYGECJEUEPUOQORECVRTOPQRUVJAKAGQOFLDYNKLOECRGEWKPBQOJIKRGQBERNGEQVJCKODLVOJROJAQIYRGEROFERGEVPROQRFKUECRKVPDEQGEWVQTSDDYOJRGERGPVDDKTHVLVJKJRGERPVOJTPKFLVPOQGEPELEVRECDYNGENBECKSRRGEWOJCKWGEWPKRERKGOQTPOEJCLVSDAVSASOJRKQEEOTORWVQDOBEHVLVJYER!NGODCOQGOQJRORRGEOFLVNRWVQFKPEQSIRDEFKPEISPOECOJGOQRENGJOMSETKPOJQRVJNEGEQKFEROFEQCOUOCECRGENVJUVQSQOJACOVAKJVDDOJEQPVRGEPRGVJSQOJAGKPOZKJRVDLEPQLENROUELDVJEQVQWVQRGEJKPFOJWEQREPJLVOJROJAVJCGEWKSDCQRPEVBGOQLVOJROJAQWORGCOVAKJVDPVOJVQGEGVCQEEJOJHVLVJEQELPOJRQ'

In [33]:
chi(cipher, "T", key)

     rule                                           new_text         chi
X  T => X  INTHESOXTCLEARLIGHTOXPROVENCEXRANCEVINCENTVANG...  271.303155
B  T => B  INTHESOBTCLEARLIGHTOBPROVENCEBRANCEVINCENTVANG...  273.322322

In [34]:
find_not_decrypted(cipher, key)

     rule                                           new_text         chi
X  ! => X  INTHESOFTCLEARLIGHTOFPROVENCEFRANCEVINCENTVANG...  274.416497
B  ! => B  INTHESOFTCLEARLIGHTOFPROVENCEFRANCEVINCENTVANG...  276.415662

done